__pycache__/
.apt_generated
.classpath
.factorypath
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
*.class
*.db
*.DS_Store
*.iml
*.ipr
*.iws
*.jar
*.log
*.pyc
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
build/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar