__pycache__/
.apt_generated
.classpath
.DS_Store
.factorypath
.gradle/
.idea
.mvn/
.project
.settings
.springBeans
.sts4-cache
.vscode/
*.class
*.db
*.iml
*.ipr
*.iws
*.jar
*.log
*.pyc
/.nb-gradle/
/dist/
/hudata/mini.sql
/nbbuild/
/nbdist/
/nbproject/private/
/NotePad.txt
build/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
